body{
  margin: 2;
  padding: 30px 20px;
  background-color:#f3e5d8;
  font-family: sans-serif;
  color: #5f5751;
  display: flex;
  justify-content: center;
}


.recipe-card{
  background-color:#ffffff;
  max-width: 650px;
  width: 100%;
  broder-radius: 24px;
  padding: 40px;
  box-shadow: 0 4px 20px  rgba(0,0,0,0,.35)
}

.recipe-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit:cover;
  border-radius: 12px;
  margin-bottom: 30px;
     
}

h1 {
  font-family:'Young Serif', serif;
  color:#312e2c;
  font-size: 2.2rem;
  margin-bottom: 20px;
  line-height: 1.2;
  
}

h2{
  font-family:'Young Serif', serif;
  color:#854632;
  font-size:1.6rem;
  margin-top: 0;
}

.description {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 1rem;
}

.prep-box{
  background-color:#fff7fb;
  padding:25px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.prep-box h3{
  color:#7b284f;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.prep-box ul{
  margin: 0;
  padding-left: 20px;
}

.prep-box li {
  margin-botton: 10px;
  padding-left: 10px;
}

.prep-box li::marker{
  color: #7b284f;
}

.section{
  margin-bottom: 30px;
}

.styled-list, .instruction-list{
  padding-left: 20px;
  line-height: 1.6;
}

.styled-list li{
  margin-bottom: 10px;
  padding-left: 15px;
}

.styled-list list::marker {
  color:#854632;
}

.Instruction-list li{
  padding-left:15px;
  margin-bottom: 15px;
}

.Instruction-list li::marker {
  color:#854632;
  font-weight: bold;
}

hr{
  boder: 0;
  border-top: 1px solid #e3e1de;
  margin: 30px 0;
}

.nutrition-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.nutrition-table td{
  padding: 12px 25px;
  border-bottom: 1px solid #e3e1de;
}

.nutrition-table tr:last-child td {
  border-bottom: none;
}

.table-cell{
  font-weight: 400;
}

.value-cell{
  color:#854632;
  font-weight: 700;
}

@media (max-width: 480px) {
  body {padding: 0;}
  .recipe-card {border-radius: 0; padding: 25px;}
  h1{ font-size: 1.8rem }
}

 
